body{
    background-color: black;
    color: #04e824;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

.title{
    line-height: 100px;

    > h1{
        font-family: 'Silkscreen', cursive;
        text-align: center;
        font-size: 6rem;
        padding: 10px;
        max-width: 100%;
        overflow-wrap: break-word; 
    }
    
    > .responsive{
        color: #5465ff;
    }
}

.byVal{
    text-align: center;
    color: #5465ff;
}

h2{
    font-family: 'Pixelify Sans', cursive;
}

h3{
    font-family: 'Pixelify Sans', cursive;
    text-align: center;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04e824;
    color: black;
    padding: 5px;
}

.eggAlt{
    text-decoration: none;
    color: black;
}


.beg{
    width: 100%;
    margin: 10px;
}


.whatIs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;

    > .whatBig{
        font-size: 3rem;
        width: 500px;
        max-width: 100%;
        margin: 10px;
        overflow-wrap: break-word; 
    }

    > .whatSmall{
        text-align: right;
        justify-content: flex-end;
        width: 500px;
        max-width: 100%;
        margin: 10px;
        font-size: 1.5rem;
        color: #5465ff;
    }
}

.introFlex{
    background-color: #5465ff;
    color: black;
    text-align: center;
    padding: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* tried to make it work but it didn't :( */
    transition: 1s;
    -webkit-transition: height 1s;

    
    > .betweenSpark{
        font-size: 3.5rem;
        color: white;
        font-family: 'Silkscreen', cursive;
        transition: 1s;
    }

    > .betweenSpark:hover{
        font-size: 4rem;
        cursor: pointer;
    }
    > .betweenSpark:hover + .flexboxDef{
        display: block;
    }

    .flexboxDef{
        display: none;
        transition: 2s;
    }
}

.example{
    text-align: center;
    margin-top: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;

    > .element{
        background-color: white;
        text-align: center;
        align-items: center;
        width: 300px;
        height: 100px;
        padding: 10px;
        margin: 10px;
    }

    > .elOne{
        color: #5465ff;
    }

    > .elTwo{
        color: #04e824;   
    }
}

.topics{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;

    > h2{
        font-size: 3rem;
    }

    > .topicItem{
        text-decoration: none;
        color:#5465ff;
        margin: 10px;
        transition: 1s;
    }

    > .topicItem:hover{
        font-size: 3rem;
    }
}




.cheatSheet{
    text-align: center;

    > h2{
        font-size: 3rem;
    }

    > img{
        width: 400px;
        max-width: 100%;
    }
}


.hint{
    background-color: #5465ff;
    color: black;
    text-align: center;
    padding: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

    > h2{
        color: white;
        font-size: 5rem;
    }
}

footer{
    background-color: #04e824;
    color: black;
    margin-top: 50px;
    padding: 10px;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.errorPage{
    text-align: center;
    font-family: 'Silkscreen', cursive;

    > p{
        font-family: 'Source Code Pro', monospace;
    }

    > .errorLink{
        color: #5465ff;
        font-family: 'Source Code Pro', monospace;
    }
}

.directionMain{
    text-align: center;

    > h2{
        font-size: 4rem;
        max-width: 100%;
    }

    > p{
        margin: 20px;
    }
}

.rowContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    > .rowP{
        background-color: #5465ff;
        color: white;
        margin: 10px;
        padding: 10px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.columnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    > .columnP{
        background-color: #5465ff;
        color: white;       
        margin: 10px;
        padding: 10px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.nextTopic1{
    text-align: center;
    margin: 50px;

    > .next{
        color:#5465ff;
    }
}